@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    background-color: black;
    display: block;
    margin: 0px;
    font-family: 'Source Code Pro', monospace;
    font-size: 15pt;
}

p , .userInput, .char, span, li{
    color: white;
    white-space: pre;
}

u {
  -webkit-text-decoration-color: white;
  text-decoration-color: white;

  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;

}

span.standout {
	color: #b57920;
	font-weight: bold;
}

a {
    text-decoration: underline;
    color: #6da5ff;
}

a:hover , .sugg:hover {
    background-color: #404040;
    cursor: pointer;
}

#trace {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

#suggestion {
	color: gray;
}

li:before {
    display: block;
    float: left;

}

li.cmd:before {
    content: "    ";
}

li.usr:before {
    content: "[User]$";
}

li.usr:before , #char {
    color: #776a40;
	font-weight: bold;
}

li.usr , #userInput {
    color: #efdda0;
}

img {
	height: 0.7em;
}

@keyframes blink-animation {
  from {
	-webkit-text-decoration-color: white;
    text-decoration-color: white;
  }
  to {
    -webkit-text-decoration-color: black;
    text-decoration-color: black;
  }
}

@-webkit-keyframes blink-animation {
  from {
	-webkit-text-decoration-color: white;
    text-decoration-color: white;
  }
  to {
    -webkit-text-decoration-color: black;
    text-decoration-color: black;
  }
}
