@import url('https://fonts.googleapis.com/css?family=VT323');

body {
    background-color: black;
    display: block;
    margin: 0px;
    font-family: 'VT323', monospace;
    font-size: 20pt;
}

p , .userInput, .char, span, li{
    color: white;
    white-space: pre;
}

u {
  -webkit-text-decoration-color: white; /* safari still uses vendor prefix */
  text-decoration-color: white;
	
}

span.standout {
	color: #b57920;
	font-weight: bold;
}

a {
    text-decoration: underline;
    color: #6da5ff;
}

a:hover {
    background-color: #404040;
}

#trace {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

#suggestion {
	color: gray;
}

li:before {
    content: ">";
    display: block;
    float: left;
}

img {
	height: 0.7em;
}